<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118756369287-0km4imcomim37qfdc85nm8utq4ogsb1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118756369287-0km4imcomim37qfdc85nm8utq4ogsb1g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>118756369287-82manaj7qttia1r7gculs5uhc7ib2er1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUgjot-hiZ80m4ighISgtbWmmTmKEvTFA</string>
	<key>GCM_SENDER_ID</key>
	<string>118756369287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miletracker.app.Meerkat---Milage-Tracker</string>
	<key>PROJECT_ID</key>
	<string>meerkat--milage-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>meerkat--milage-tracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:118756369287:ios:4b88f8ae3317cfc7b8e922</string>
</dict>
</plist>
